<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title>
      Insist Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="contentVisibility" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Insist Scanner</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item *ngIf="scannedResult">
      <ion-label position="stacked">Résultat</ion-label>
      <ion-input type="text" [value]="scannedResult"></ion-input>
    </ion-item>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="startScan()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-explore-container (scan)="scanDocument($event)" name="Veuillez scanner un CODE BAR"></app-explore-container>
</ion-content>
